<div class="container">
    <div class="row">
      <img src="./assets/notepad-spiral-small.png" class='banner'>
    </div>
  </div>
  
  <div class="todo-container">
    <div class="todo-table">
      <h1>LAST 7 DAYS </h1>
      <ul *ngFor="let task of archiveWeek " class="lato small">
        <li>
          {{task.name}}
          <br>
         <span class = "date">From: {{ task.createdAt | date}}</span> 
          <br>
          <button class="edit-btn" (click)="remove(task)"> DELETE</button>
        </li>
      </ul>
    </div>
    <div class="todo-table center-border">
      <h1>8-30 DAYS AGO</h1>
      <ul *ngFor="let task of archiveMonth " class="lato small">
          <li>
            {{task.name}}
            <br>
            <span class = "date">From: {{ task.createdAt | date}}</span> 
            <br>
            <button class="edit-btn" (click)="remove(task)">DELETE</button>
          </li>
        </ul>
    </div>
    <div class="todo-table right-border">
        <h1>MORE THAN 30 DAYS AGO</h1>
        <ul *ngFor="let task of archiveYear " class="lato small">
            <li>
              {{task.name}}
              <br>
              <span class = "date">From: {{ task.createdAt | date}}</span> 
              <br>
              <button class="edit-btn" (click)="remove(task)">DELETE</button>
            </li>
          </ul>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <img src="./assets/notepad-end.png" class='notepad-end'>
    </div>
  </div>