<app-input-task></app-input-task>

<div class="container">
  <div class="row">
    <img src="./assets/notepad-spiral-small.png" class='banner'>
  </div>
</div>

<div class="todo-container">
  <div class="todo-table">
    <h1>IMPORTANT!</h1>
    <app-important-list></app-important-list>
  </div>
  <div class="todo-table center-border">
    <h1>CAN WAIT</h1>
    <app-print-tasks></app-print-tasks>
  </div>
  <div class="todo-table right-border">
    <h1>COMPLETED</h1>
    <app-done-list></app-done-list>
  </div>
</div>

<div class="container">
  <div class="row">
    <img src="./assets/notepad-end.png" class='notepad-end'>
  </div>
</div>